/*Cleared */
* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.globalBody {
  width: 100vw;
  max-width: 1280px;
  margin: 0 auto;
}

:root {
  --orange: #FC4445;
  --grey-light: #D7D4D3;
  --grey-middle: #635F5E;
  --grey-dark: #171717;
}

@font-face {
    font-family: 'Post No Bills Jaffna ExtraBold Regular';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/PostNoBillsJaffna-ExtraBold.woff');
}

.landingBackdrop {
    background: linear-gradient(184.16deg, #f3f3f2 10.85%, #d7d4d3 89.05%);
    box-shadow: inset 0px 0px 60px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    height: 95vh;
    width: 100vw;
}

.landingWrapper {
  display: grid;
  height: 95vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 80vh 1fr;
  margin: 0 50px 0 50px;
}

.landingWrapper h3 {
    grid-column: 2 / span 4;
    align-self: center;
    color: var(--grey-middle)
}

.landingWrapper nav {
    grid-column: 9 / span 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .landingWrapper nav a {
    text-decoration: none;
    color: var(--orange);
  }

  .landingWrapper nav a:hover {
    font-weight: 600;
  }

.landingWrapper h1 {
    grid-row: 2 / 3;  
    grid-column: 2 / span 10;
    font-size: clamp(250pt, 25.5vw, 5px ); 
    align-self: center;
    color: var(--orange);
    font-family: 'Post No Bills Jaffna ExtraBold Regular';
    transform: translateY(50px);
}

.landingWrapper h4 {
    grid-row: 3/4;
    grid-column: 9 / 12;
    align-self: center;
    justify-self: flex-end;
    color: var(--grey-middle)
}

.tre {
    z-index: 1;
}

.kkie {
    z-index: 8;
    justify-self: flex-end;
}

.landingWrapper img {
    width: 800px;
    z-index: 2;
    grid-column: 3/11;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
    transform: translateY(-100px);
}

.leaflet-container {
width: 100%;
height: 100%;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cardsContainer div {
  text-align: center;
  margin: 20px;
  background: linear-gradient(184.16deg, #f3f3f2 10.85%, #d7d4d3 89.05%);
  box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.cardsContainer p {
  color: var(--grey-dark);
  margin-bottom: 10px;
  margin-top: 10px;
}

.cardsContainer h2 {
  color: var(--orange);
  font-size: xx-large;
  margin-bottom: 5px;
}

.cardsContainer code {
  font-size: xx-small;
}

.header {
  margin: 70px 0 10px 0;
  text-align: center;
  color: var(--grey-dark);
}

.underline {
  background-color: var(--orange);
  height: 1px;
  width: 80px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.mapBox {
  margin: 80px 20px 100px 20px;
  height: 50vh;
  background: linear-gradient(184.16deg, #f3f3f2 10.85%, #d7d4d3 89.05%);
  box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
}